  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/atom+xml" href="{{site.url}}/feed.xml" title="Mapping Early American Elections blog" />
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <link rel="shortcut icon" href="{{site.url}}/theme-img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lora%7CShare" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.earlyamericanelections.org"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//chnmdev.gmu.edu/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 139]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//chnmdev.gmu.edu/piwik/piwik.php?idsite=139" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </head>
  <body {% if page.bodyclass %} class="{{ page.bodyclass }}"{% endif %}>

    <div class="row">

      <div class="large-7 columns">
        <!-- <img class="large-1 column logo" src="img/checkboxlogo.png" alt=""> -->
        <h1><a href="{{site.url}}">{{site.title}}</a></h1>
      </div>

      <div class="large-5 columns">
        <ul class="menu align-right">
          <li class="nav-link"><a href="{{site.url}}/about/">About</a></li>
          <li class="nav-link"><a href="{{site.url}}/data/">Data</a></li>
          <li class="nav-link"><a href="{{site.url}}/blog/">Blog</a></li>
          <li class="nav-link"><a href="{{site.url}}/maps/">Maps</a></li>
          <li class="nav-link inactive-link"><a href="">Essays</a></li>
        </ul>
      </div>
      <hr>
    </div>
