  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapping Early Elections</title>
    <link href="https://fonts.googleapis.com/css?family=Lora|Share" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>
  <body {% if page.bodyclass %} class="{{ page.bodyclass }}"{% endif %}>

    <div class="row">

      <div class="large-7 columns">
        <!-- <img class="large-1 column logo" src="img/checkboxlogo.png" alt=""> -->
        <h1><a href="{{site.url}}">{{site.title}}</a></h1>
      </div>

      <div class="large-5 columns">
        <ul class="menu align-right">
          <li class="nav-link"><a href="{{site.url}}/about">About</a></li>
          <li class="nav-link"><a href="{{site.url}}/data">Data</a></li>
          <li class="nav-link"><a href="{{site.url}}/posts.html">Blog</a></li>
          <li class="nav-link inactive-link"><a href="maps-landing.php">Maps</a></li>
          <li class="nav-link inactive-link"><a href="essay-list.php">Essays</a></li>
        </ul>
      </div>
      <hr>
    </div>
