<h5>About This Project</h5>
<p>Explore how Americans voted for their legislators during the formative era of American politics, 1788&ndash;1825. <em>Mapping Early American Elections</em> provides interactive maps and tables of U.S. Congressional elections during the First Party System, contextual essays, open access data, and tutorials. <a href="{{site.url}}/about/" title="About">Learn more.</a></p>

<h5>Discover How to Use Our Maps</h5>
    <p class="box-bg"><a href="{{site.url}}/blog/2019/04/30/map-how-to.html" class="graf-link">Tips for getting started with our maps.</a></p>

<h5>Ready to Dive into the Data?</h5>
    <p class="box-bg"><a href="{{site.url}}/data/" class="graf-link">Our data is available for download.</a></p>

<h5>Learn to Make Your Own Maps</h5>
    <p class="box-bg">Check out our tutorials for <a href="{{site.url}}/blog/2019/04/30/r-tutorial.html" class="graf-link">R</a> and <a href="{{site.url}}/blog/2019/04/30/qgis-tutorial.html" class="graf-link">QGIS</a>.</p>
