<!doctype html>
<html class="no-js" lang="en">

{% include header.html %}

<div class="row">
    <div class="large-9 column">
        <div class="featured">

            {% for page in site.essays limit:6 %}
                <div class="medium-4 column">
                    <img src="{{ site.url }}{{ page.image }}" alt="" />
                    <h3><a href="{{ site.url }}{{ page.url }}" class="essay-title">{{ page.title }}</a></h3>
                    <div class="page-excerpt"><p>{{ page.summary | remove: '<p>' | remove: '</p>' }} <a href="{{ site.url }}{{ page.url }}" class="more-link">Read&nbsp;more&nbsp;&rarr;</a></p></div>
                </div>
            {% endfor %}

        </div>

    </div>


    <hr class="hide-for-large">
    <div class="large-3 column sidebar">
        {% include sidebar.html %}  
    </div>

    <hr class="show-for-medium">
    <div class="large-12 row show-for-medium">
    <div class="column">
    
    <h3>Featured Maps</h3>

        {% assign maps = site.maps %}
        {% for map in site.maps %}
        {% if map.image %}
        <div class="large-4 column">
            <h5><a href="{{site.url}}{{map.url}}">{{ map.title }}</a></h5>
            <a href="{{site.url}}{{map.url}}"><img src="{{ site.url }}{{ map.image }}" alt="" /></a>
        </div>
        {% endif %}
        {% endfor %}
    </div>


    </div>

</div>

{% include footer.html %}
