<!doctype html>
<html class="no-js" lang="en">

{% include header.html %}

<div class="row">
    <div class="large-9 column">
        <div class="featured">

            {% for page in site.essays limit:3 %}
                <div class="medium-4 column">
                    <img src="{{ site.url }}{{ page.image }}" alt="" />
                    <h3><a href="{{ site.url }}{{ page.url }}" class="essay-title">{{ page.title }}</a></h3>
                    <div class="page-excerpt"><p>{{ page.abstract | remove: '<p>' | remove: '</p>' }}&nbsp;<a href="{{ site.url }}{{ page.url }}">Read More &rarr;</a></p></div>
                </div>
            {% endfor %}

        </div>

    </div>


    <hr class="hide-for-large">
    <div class="large-3 column sidebar">
        <h5>Ready to Dive into the Data?</h5>
            <p class="box-bg"><a href="{{site.url}}/data/" class="graf-link">Our preliminary data is available for download.</a></p>

        <h5>Learn to Make Your Own Maps!</h5>
            <p class="box-bg"><a href="{{site.url}}/blog/" class="graf-link">Check out our tutorials.</a></p>


        <p>Explore how Americans voted for their legislators, 1787&ndash;1825. <em>Mapping Early American Elections</em> is a work in progress, and we’re writing about the project’s process on <a href="{{site.url}}/blog/">the blog</a>. Read more about us on the <a href="{{site.url}}/about/" title="About">about page</a>.</p>
    </div>

    <hr class="show-for-medium">
    <div class="large-12 row show-for-medium">
    <div class="column">
    
    <h3>Featured Maps</h3>

        {% assign maps = site.maps %}
        {% for map in site.maps %}
        {% if map.image %}
        <div class="large-4 column">
            <h5><a href="{{site.url}}{{map.url}}">{{ map.title }}</a></h5>
            <a href="{{site.url}}{{map.url}}"><img src="{{ site.url }}{{ map.image }}" alt="" /></a>
        </div>
        {% endif %}
        {% endfor %}
    </div>


    </div>

</div>

{% include footer.html %}
