---
bodyclass: maps-show
---

<!doctype html>
<html class="no-js" lang="en">

{% include header.html %}
{% include map-libs.html %}


<div class="row">
    <div class="large-9 column">
        <div class="large-12">
        <h3>{{ page.title }}</h3>

            {{ content }}
        <p class="disclaimer">{% include results-table-disclaimer.html %}</p>

        {% if page.nnv %}
        <h5>New Nation Votes Data</h5>
        <ul class="nnv-data">
            {% for nn in page.nnv %}
            <li><a href="http://elections.lib.tufts.edu/catalog/tufts:{{ nn.id }}">{{ nn.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>
    </div>

    <hr class="hide-for-large">
    <div class="large-3 column sidebar">
        <h5>Legend</h5>
        <img src="{{site.url}}/theme-img/{{page.legend}}.svg" alt="Legend for map of {{ page.title }}">   
        <h5>Related Maps</h5>
          <ul>
              {% for related in page.related-maps %}
              <li><a href="{{site.url}}/maps/{{related.id}}.html">{{related.name}}</a></li>
              {% endfor %}
          </ul>
        
          <h5>How to Read This Map</h5>
        <a href="{{site.url}}/blog/2019/04/30/map-how-to.html">Four steps to get started.</a>

        <h5>Citation</h5>
        <p class="citation">&ldquo;{{ page.title }},&rdquo; Mapping Early American Elections,&nbsp;{{site.url}}{{ page.url }}</p>
    </div>
</div>

{% include footer.html %}
