<!doctype html>
<html class="no-js" lang="en">

{% include header.html %}

<div class="row">
    <div class="large-9 column">
        <div class="featured">
        <div class="large-12 column">
            <div>{{ content }}</div>
        </div>
        </div>
    </div>


    <div class="large-3 column">
        <div class="large-12 column">
          <p>We might want some more text here to fill the space. Maybe a brief blurb about the project with a redundant link to the <a href="">About Page.</a></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos rerum deserunt ratione magni placeat quisquam alias, quam adipisci delectus architecto minus doloribus quaerat fugiat veniam, et. Et commodi, quia saepe.</p>
        </div>
    </div>

</div>

{% include footer.html %}