<!doctype html>
<html class="no-js" lang="en">

{% include header.html %}

<div class="row">
    <div class="large-9 columns border-right">
        <h3>{{ page.title }}</h3>
        <span class="author">{{page.author}}</span>
        <span class="blogdate">{{ page.date | date: "%B %-d, %Y" }}</span>
        {{ content }}       
    </div>
    <div class="large-3 column">
        <hr class="hide-for-large">
        <a href="{{site.url}}/feed.xml" class="left rss-link">RSS Feed</a>
        <link rel="alternate" type="application/rss+xml" href="{{site.url}}/feed.xml" />
    </div>
</div>

{% include footer.html %}