<!doctype html>
<html class="no-js" lang="en">

{% include header.html %}

<div class="row">
    <div class="large-9 column border-right">
        {% for post in site.posts %}
            <div class="large-12 row {% if forloop.first == false %}blog-entry{% endif %}">   
                <div class="medium-4 column">
                    <img src="{{ site.url }}{{ post.image }}" alt="" />
                </div>
                <div class="large-8 column">
                    <h4><a href="{{site.url }}{{ post.url }}" title="">{{ post.title }}</a></h4>
                    <span class="blogdate">{{ post.date | date: "%B %-d, %Y" }}</span>
                    <p>{{ post.content | strip_html | truncatewords:75}} <a href="{{ post.url }}" class="more-link">Read&nbsp;more&nbsp;&rarr;</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div class="large-3 column">
        <hr class="hide-for-large">
        <a href="{{site.url}}/feed.xml" class="left rss-link">RSS Feed</a>
        <link rel="alternate" type="application/rss+xml" href="{{site.url}}/feed.xml" />
    </div>
</div>

{% include footer.html %}
